<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%=params[:name]%></h1>
   <h2>Coach: <%=param[:coach]%></h2>
   <h2>Point Guard: <%=param[:pg]%></h2>
   <h2>Shooting Guard: <%=param[:sg]%></h2>
   <h2>Small Forward: <%=param[:sf]%></h2>
   <h2>Power Forward: <%=param[:pf]%></h2>
   <h2>Center: <%=param[:c]%></h2>
 </body>
</html>
